<h1>Edit blogger</h1>
 
<%= form_with(model: @blogger, local: true) do |form| %>
 
  <% if @blogger.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@blogger.errors.count, "error") %> prohibited
        this blogger from being saved:
      </h2>
      <ul>
        <% @blogger.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>

 

<%= link_to 'Back', bloggers_path %>