<p>
  <strong>Title:</strong>
  <%= @blogger.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @blogger.text %>
</p>
 
<h2>Comments</h2>
<%= render @blogger.comments %>
 
<h2>Add a comment:</h2>
<%= form_with(model: [ @blogger, @blogger.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_blogger_path(@blogger) %> |
<%= link_to 'Back', bloggers_path %>